.homeSection {
    height: calc(100vh - 100px);
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
}

.homeSection .homeText {
    font-weight: bold;
}

.homeSection .timerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.homeSection .timerBox .timer {
    background: var(--dark-10);
    padding: 1rem;
    color: var(--blueColor);
    font-weight: 600;
}